  .outer {
    background-color:#dee2e6;
    height: 100vh;
  }

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0rem;
    overflow: hidden;
    background-color: #343a40;
  }
  
  .nav-li {
    float: left;
  }
  
  .nav-li , .nav-a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 7px;
    text-decoration: none;
  }

  .logout-right {
   float: right;
  }


.create-news{
  width: 41%;
  height: fit-content;
  background-color: #e9ecef;
  padding: 10px;
  position: absolute;
  top: 21%;
  left: 30%;
  margin: -25px 0 0 -25px;
  border-radius: 5px;
  margin: auto;
  border: 1px solid #f8f9fab8;
}

.card-content{
  padding:5px;
}

.card-heading{
  text-align: center;
  color: black;
  font-size:xx-large;
}

.card-btns {
  float: right;
  justify-content: space-evenly;
  display: flex;
  width: 35%
}



